.footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    bottom: 0;
    background-color: rgb(165, 34, 34);
    color: whitesmoke;
    z-index: 777;
}

@media (min-width:1025px) { 
    .footer {
        display: none;
    }
}